
python-dotenv
pyjwt
bcrypt
wolframalpha
scikit-learn
cachetools
psycopg2-binary
gunicorn
deep-translator==1.11.4
flask==3.1.1
flask-cors==6.0.1
googletrans==4.0.2
langdetect==1.0.9
requests==2.32.4
spacy==3.8.7
unidecode==1.4.0
flask-bcrypt
python-dotenv
cachetools
scikit-learn
bleach
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl#sha256=c304fa04db3af73cd08a250feacf560506e15a2ec2469bd1b09f06847f6b455c
