transformers
sentencepiece
protobuf
torch==2.1.2 --index-url https://download.pytorch.org/whl/cpu
pyjwt
bcrypt
scikit-learn
cachetools
gunicorn
deep-translator
flask
flask-cors
psycopg2-binary
googletrans
langdetect
requests
spacy
unidecode
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl#sha256=c304fa04db3af73cd08a250feacf560506e15a2ec2469bd1b09f06847f6b455c
dotenv

